<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="narrow-form-container">
  <div class="field">
    <%= f.label :name, class: "general-text-label" %><br>
    <%= f.text_field :name, class: "general-text-field" %>
  </div>
  <div class="field">
    <%= f.label :team, class: "general-text-label" %><br>
    <%= f.text_field :team, class: "general-text-field" %>
  </div>
  <div class="field">
    <%= f.label :email, class: "general-text-label" %><br>
    <%= f.text_field :email, class: "general-text-field" %>
  </div>
  <div class="field">
    <%= f.label :phone, class: "general-text-label" %><br>
    <%= f.text_field :phone, class: "general-text-field" %>
  </div>
  <div class="field">
    <%= f.label :paid, class: "general-text-label" %><br>
    <%= f.check_box :paid %>
  </div><br>
  <center>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
  </center>
<% end %>
  <br><br>
</div>
