<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user.team %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @user.paid %>
</p>

<p>
  <strong>Date paid:</strong>
  <%= @user.date_paid %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
