<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user.team %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= number_to_phone(@user.phone) %>
</p>

<p>
  <strong>Paid:</strong>
  <% if @user.paid == true %>
            <td class="true">Yes</td>
            <% else %>
            <td class="false">No</td>
            <% end %>
</p>

<p>
  <strong>Date paid:</strong>
  <%= @user.date_paid %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary" %>