<nav class="navbar navbar-default" id="menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'The Teams', teams_path %></li>
        <li><%= link_to 'Pay Dues', new_charge_path %></li>
        <li><%= link_to 'Trophies', trophies_path %></li>
        <li><%= link_to 'The Shiva', shiva_path %></li>
        <li><%= link_to 'The Sacko', sacko_path %></li>
      </ul>
    </div>
  </div>
</nav>